@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here you can manage naruto universe. Add or remove persons or abilities. Also you can add abilities to a person.</p>
</div>
