.sorting {
    border: 0px solid black;
    background-color: #ececec;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 2rem
}

.filtering {
    border: 0px solid black;
    background-color: #ece8cc;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 2rem
}

#posBlock, #counBlock, #styBlock, #pwsBlock {
    border: 0px solid black;
    background-color: #ececec;
    border-radius: 10px;
    padding: 1rem;
    margin-top: 1rem;
}

.info {
    border: 0px solid black;
    background-color: #ececec;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
}

body {
    
}

.table{
    table-layout: fixed;
}